<!DOCTYPE html>
<html lang="en-ru">
<head>
  <title>Мой первый сайт</title>
  <!--link href="/static/css/styles.css" rel="stylesheet" type="text/css"/>-->
  <link rel="stylesheet" href="/media/mystyle.css" type="text/css">
<!--style>-->


<!--/style>-->

</head>
<body>
<header>

<div >
        <!--div class="inner-header">-->
          <!--div class="navbar-brand">-->
            <ul class="ul">
               <div class="container">
                 <li_> <h2>Моё хобби</h2></li_>
               <!--/div>-->
                 <!--div class="container div">-->
                 <li><a href="contacts.html">Обратная связь</a></li>
                 <li><a href="about">Обо мне</a></li>
                 <li><a class="active" href="#">Главная</a></li>
                       </div>
            </ul>
          <!--/div>-->
        <!--/div>-->
</div>
</header>




<footer>
  <div >
    <div class="footercol-1-3">
      <p> Сайт разработан на курсах SkillFactory </p>
    </div>
    <div class="footercol-2-3">
      <p> 2023 год </p>
    </div>
  </div>
</footer>
</body>
</html>